:root {
  --coverpage-bgcolor: #1a1833;
  --input-page-bgcolor: #e0e0e0;
  --cards-page-bgcolor: #aaa7d0;
  --select-page-bgcolor: #3e4da1;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Enable smooth scrolling globally */
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: aqua;
  height: 100vh;
  width: 100vw;
} */

/* Full-screen cover page style */
.cover-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: var(--coverpage-bgcolor);
  color: white;
  text-align: center;
}

.cover-page-language {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1em;
}

.cover-page-language-box {
  height: 8em;
  width: 12em;
}

.input-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: var(--input-page-bgcolor);
  color: #333;
  text-align: center;
  animation: coverToInput 1s ease-in-out;
}

.cards-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: var(--cards-page-bgcolor);
  color: #333;
  text-align: center;
  padding: 1em 0;
  animation: fadeIn 1s ease-in-out;
}

.selects-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: var(--select-page-bgcolor);
  color: #333;
  text-align: center;
  padding: 1em 0;
  animation: coverToSelect 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes coverToSelect {
  from {
    background-color: var(--coverpage-bgcolor);
  }
  to {
    background-color: var(--select-page-bgcolor);
  }
}

@keyframes coverToInput {
  from {
    background-color: var(--coverpage-bgcolor);
  }
  to {
    background-color: var(--input-page-bgcolor);
  }
}
