.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

.input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90vw;
}

.input-container Button {
  width: 8em;
  margin-top: 1em;
  align-self: flex-end;
}
