.input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.input-container-button-group {
  margin-top: 0.2em;
  align-self: flex-end;
}
